<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilton || Contacto y ayuda</title>
    <link rel="stylesheet" href="../css/contacto-ayuda.css">
    <link rel="icon" href="/src/views/images/Logo-hotel-Hilton2.png" type="image/png">
</head>
<body>
    <div class="policy-container">
    <h1>Centro de Ayuda</h1>
    <p>¿Tienes dudas sobre el uso de la plataforma o tus reservaciones? Aquí encontrarás respuestas rápidas a las consultas más comunes.</p>

    <h2>Preguntas Frecuentes</h2>

    <details>
        <summary>¿A partir de qué edad se puede reservar una habitación?</summary>
        <div class="faq-answer">
            <p>Para realizar una reservación directa a través de nuestro sitio web, debes garantizar que tienes <span class="strong-term">18 años de edad o más</span>. Si eres menor de edad, debes comunicarte directamente con el hotel para recibir asistencia personalizada.</p>
        </div>
    </details>

    <details>
        <summary>¿Cuántas habitaciones puedo reservar de forma simultánea?</summary>
        <div class="faq-answer">
            <p>Puedes reservar un <span class="strong-term">máximo de 9 habitaciones</span> por el mismo período de estadía a través del sitio web. Si tu reservación involucra 10 o más habitaciones, se considera una reserva de grupo y debes gestionarla directamente con el departamento de ventas del hotel.</p>
        </div>
    </details>

    <details>
        <summary>¿Por qué mi reserva podría ser modificada o cancelada?</summary>
        <div class="faq-answer">
            <p>Nos reservamos el derecho de modificar o cancelar reservaciones si detectamos sospechas de <span class="strong-term">actividad fraudulenta e inapropiada</span>, o si la reserva contiene errores evidentes de tarifas, o si se determina un intento de evadir las políticas del hotel.</p>
        </div>
    </details>

    <details>
        <summary>¿Qué pasa si reservo una tarifa especial y no cumplo los requisitos?</summary>
        <div class="faq-answer">
            <p>Algunas tarifas requieren credenciales específicas (como la membresía de Hilton Honors, AAA o AARP). Es tu responsabilidad verificar que cumples con los requisitos. Los hoteles <span class="strong-term">no están obligados</span> a mantener la tarifa especial si no se presenta el soporte correspondiente al hacer el check-in.</p>
        </div>
    </details>

    <div class="contact-box">
        <h3>¿No encontraste lo que buscabas?</h3>
        <p>Si tienes un problema técnico con el sitio web o una solicitud especial para tu estadía, nuestro equipo de soporte global está disponible 24/7. Puedes escribirnos al canal de soporte oficial del portal.</p>
    </div>
</div>
    
</body>
</html>