<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilton || Registro</title>
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/notifications.css">
    <link rel="icon" href="/src/views/images/Logo-hotel-Hilton2.png" type="image/png">
</head>
<body>
    <div class="main-container">
        <header class="header">
            <div class="header-img">
                <a href="/index.html"><img src="../images/Logo-hotel-Hilton-removebg-preview.png" alt="Hilton Logo"></a>
            </div>
            <h1>Hilton Registro de usuario</h1>
            <p>Crea tu nueva cuenta hilton</p>
        </header>

        <main class="card">
            <form>
                
                <div class="form-group">
                    <label for="fullname">Nombre Completo</label>
                    <div class="input-container">
                        <i class="fa-regular fa-user input-icon"></i>
                        <input type="text" id="fullname" placeholder="Juan Perez sanchez">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <div class="input-container">
                        <i class="fa-regular fa-envelope input-icon"></i>
                        <input type="email" id="email" placeholder="usuario_correo@gmail.com">
                    </div>
                </div>

                <div class="form-group">
                    <label for="employee-id">ID de empleado</label>
                    <div class="input-container">
                        <i class="fa-regular fa-id-card input-icon"></i>
                        <input type="text" id="employee-id" placeholder="123456">
                    </div>
                </div>

                <div class="form-group m-bottom-xs">
                    <label for="password">Contraseña</label>
                    <div class="input-container">
                        <i class="fa-solid fa-lock input-icon"></i>
                        <input type="password" id="password" placeholder="contrasena_registro123">
                    </div>
                    <span class="help-text">Minimo 8 Caracteres (Incluye numeros y Letras)</span>
                </div>

                <div class="checkbox-group">
                    <input type="checkbox" id="terms">
                    <label for="terms">Acepto los <a href="#">Terminos de servicio</a> y <a href="#">Protocolos de seguridad</a>.</label>
                </div>

                <button type="submit" class="btn-submit">
                    Completar Registro <i class="fa-solid fa-arrow-right"></i>
                </button>

                <hr class="divider">

                <div class="back-login">
                    <a href="/src/views/pages/log-in.html"><i class="fa-solid fa-arrow-left"></i> Volver al Login</a>
                </div>
            </form>
        </main>

    </div>

    <footer class="main-footer">

        <div class="footer-left">
            <h2>Hilton Hotel</h2>
            <p>@2026 Hilton Hotels automatización.Derechos reservados</p>
        </div>
        
        <div class="footer-socials">
            <a href="https://www.facebook.com/HiltonHotels/" aria-label="Facebook" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/hiltonhotels/" aria-label="Instagram" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/HiltonHotels" aria-label="X (Twitter)" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/company/hilton" aria-label="LinkedIn" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>

        <nav class="footer-list">
        <ul>

            <li><a href="./src/views/pages/politica-de-privacidad.html">Politica de privacidad</a></li>
            <li><a href="./src/views/pages/terminos-condiciones.html">Terminos y servicios</a></li>
            <li><a href="./src/views/pages/contacto-ayuda.html">Contacto y ayuda</a></li>

            <li><a href="/src/views/pages/politica-de-privacidad.html">Politica de privacidad</a></li>
            <li><a href="/src/views/pages/terminos-condiciones.html">Terminos y servicios</a></li>
            <li><a href="/src/views/pages/contacto-ayuda.html">Contacto y ayuda</a></li>

        </ul>
    </nav>

    </footer>
    
    <script src="/src/controllers/registrar-usuario.js" type="module"></script>
</body>
</html>