<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilton || Terminos y condiciones</title>
    <link rel="stylesheet" href="../css/terminos-condiciones.css">
    <link rel="icon" href="/src/views/images/Logo-hotel-Hilton2.png" type="image/png">
</head>
<body>
    <div class="policy-container">
    <h1>Acuerdo de Uso del Sitio</h1>
    
    <br>

    <h2>I. IMPORTANTE ESTE ES UN CONTRATO LEGAL VINCULANTE</h2>
    <p>LEA DETENIDAMENTE ESTOS TÉRMINOS Y CONDICIONES DE USO ANTES DE UTILIZAR ESTE SITIO.</p>
    <p>Este contrato regula el uso de este sitio de Internet ubicado en <code>hilton.com/es</code> (en su conjunto, el "Sitio") y se celebra entre Hilton Domestic Operating Company Inc. (en lo sucesivo, "Hilton", "nosotros" o "nuestro") y usted, en su nombre y en el del comprador, miembro o proveedor mediante el cual se ha registrado ("usted").</p>
    <p>Al utilizar, ver, transmitir, guardar en memoria caché, almacenar o hacer cualquier otro uso del sitio, los servicios o las funciones ofrecidas en o por el sitio o el contenido de este de cualquier manera, usted acepta todos y cada uno de los términos y condiciones establecidos a continuación y renuncia a todo derecho de reclamo por ambigüedad o error en este contrato. <span class="strong-term">Si usted no acepta todos y cada uno de estos términos y condiciones, no utilice el sitio y abandónelo de inmediato.</span></p>
    <p>Nos reservamos el derecho, a nuestra entera y absoluta discreción, a cambiar, modificar, añadir o eliminar parte de estos términos en cualquier momento sin previo aviso y, salvo que se indique lo contrario, tales cambios entrarán en vigencia de inmediato; por lo tanto, revise estos términos en forma periódica para ver si hay algún cambio. El uso continuo del sitio luego de la publicación de las modificaciones a este contrato implicará que usted acepta tales modificaciones.</p>
    
    <br>

    <h2>II. ELEGIBILIDAD</h2>
    <p>Este sitio está disponible solo para aquellas personas y entidades que pueden celebrar contratos legalmente vinculantes de acuerdo con lo establecido por la ley aplicable. Sin limitar lo anteriormente expresado, el sitio y los servicios ofrecidos por este no se encuentran disponibles para los menores de edad. Si no reúne los requisitos, no puede utilizar el sitio.</p>
    <p>Usted garantiza que tiene dieciocho (18) años de edad o más para reservar una habitación en este sitio. Si usted tiene menos de dieciocho años de edad, puede comunicarse con el hotel directamente para obtener ayuda.</p>
    <p>Garantiza también que está legalmente autorizado para hacer reservaciones o compras de viajes para usted o para otra persona en cuyo nombre está autorizado a actuar. Solo puede utilizar el sitio para hacer reservaciones o compras legítimas y no deberá utilizarlo para ningún otro fin, incluido, entre otros, para hacer reservaciones especulativas, falsas o fraudulentas, o reservaciones en previsión de la demanda.</p>
    <p>Nos reservamos el derecho a cancelar o modificar reservaciones en aquellos casos donde se considere que el cliente ha realizado una actividad fraudulenta o inapropiada, o en otras circunstancias donde se considere que las reservaciones contienen o son el resultado de un error o una equivocación, o de un intento de evadir las políticas, los términos o las condiciones de Hilton o del hotel.</p>
    <p>Comprende que el uso excesivo o el abuso de las instalaciones de reservación de este sitio pueden provocar que se le niegue el acceso a tales instalaciones.</p>
    <p>Las reservaciones hechas por una o más personas, o por una agencia en el sitio, en nombre de uno o más huéspedes propuestos, y que involucren más de nueve (9) habitaciones en el mismo hotel para el mismo período de estadía se deben hacer directamente a través del hotel. Si se reservan más de nueve (9) habitaciones en el mismo hotel para el mismo período de estadía a través de cualquier otro método, nos reservamos el derecho a cancelar tales reservaciones o a imponer requisitos adicionales en ellas.</p>
    <p>Algunas tarifas tienen requisitos de elegibilidad especiales, como la membresía a Hilton Honors, a la AAA (Asociación Americana del Automóvil) o a la AARP (Asociación Estadounidense de Jubilados). Es su responsabilidad verificar que reúne los requisitos para la tarifa que ha reservado. Los hoteles no están obligados a cumplir con las tarifas si usted no reúne los requisitos.</p>
    
    <br>

    <h2>III. RESTRICCIONES EN EL USO DE MATERIALES</h2>
    <p>Todos los materiales contenidos en este Sitio son propiedad protegida por derechos de autor de Hilton, sus subsidiarias o compañías afiliadas y/o terceros licenciantes. No se puede copiar, "raspar" (scrape), reproducir, volver a publicar, cargar, publicar, transmitir ni distribuir en forma alguna ningún material de este sitio ni de ningún sitio de Internet de nuestra propiedad, u operado, autorizado o controlado por nosotros o por nuestras filiales. Para los fines de estos términos, el uso de dicho material en cualquier otro sitio Web, intranet, extranet o cualquier otro sitio o ámbito informático queda expresamente prohibido.</p>
    <p>Todas las marcas comerciales, las marcas de servicio, los nombres comerciales y la imagen comercial son de nuestra propiedad. Usted no podrá enmarcar ni utilizar técnicas para enmarcar ninguna de nuestras marcas comerciales, logotipos u otro tipo de información de nuestra propiedad (incluidas imágenes, texto, diseño de página o forma) sin nuestro expreso consentimiento previo por escrito. Usted no podrá utilizar ningún tipo de meta-tags ni ningún otro tipo de "texto oculto" con nuestro nombre, nuestras marcas comerciales o cualquier otro tipo de información de nuestra propiedad sin nuestro expreso consentimiento previo por escrito.</p>
    <p>Salvo que se indique lo contrario, todos los nombres, los logotipos, las marcas comerciales, las marcas de servicio, la imagen comercial y los nombres comerciales son propiedad de Hilton International Holding Corporation, Hilton Holding LLP o Hilton Honors Worldwide, L.L.C. en los Estados Unidos y en otros países, y no pueden utilizarse por ningún motivo sin nuestro previo consentimiento expreso por escrito.</p>
    <p>La descarga de software del sitio está autorizada por nosotros o por terceros licenciantes para su uso en relación con el sitio únicamente. No se le transferirá la titularidad del software. Está expresamente prohibido redistribuir, vender, descompilar, realizar ingeniería inversa, desensamblar o hacer cualquier otra reducción del software a un formato legible para el ser humano.</p>

    <br>

    <h2>IV. PRESENTACIONES</h2>
    <p>La política de larga tradición de nuestra compañía no nos permite aceptar o considerar ideas creativas, sugerencias o materiales que no sean los solicitados específicamente. El objetivo de esta política es evitar la posibilidad de malos entendidos futuros en el caso de que los proyectos desarrollados por nuestro personal parezcan similares al trabajo creativo de terceros. No envíe ningún tipo de material creativo original no solicitado.</p>
    <p>Si, a nuestra solicitud, usted envía determinadas presentaciones específicas o, a pesar de nuestro pedido, nos envía sugerencias creativas, ideas, notas, dibujos, conceptos u otro tipo de información (en su conjunto, las <span class="strong-term">"presentaciones"</span>), las presentaciones se considerarán nuestra propiedad. Ninguna de las presentaciones será objeto de ningún tipo de obligación de confidencialidad de nuestra parte y tendremos derecho a hacer uso de ellas sin restricción alguna para cualquier fin, comercial o de otra índole, sin compensación alguna.</p>

    <br>

    <h2>V. FOROS Y COMUNICACIÓN PÚBLICA</h2>
    <p><span class="strong-term">“Foro”</span> significa un área de charla, un grupo de mensajes o una función de correo electrónico ofrecidos como parte de este sitio. Si participa en un Foro dentro del Sitio, usted no debe:</p>
    
    <ul>
        <li>Defamar, abusar, acosar o amenazar a otros.</li>
        <li>Hacer declaraciones intolerantes, de odio o racialmente ofensivas.</li>
        <li>Abogar por actividades ilegales o discutirlas con la intención de cometerlas.</li>
        <li>Publicar o distribuir material que infrinja o viole derechos de terceros o cualquier ley.</li>
        <li>Publicar o distribuir lenguaje o imágenes vulgares, obscenas, descorteses o indecentes.</li>
        <li>Hacer publicidad, vender o solicitar a otros.</li>
        <li>Utilizar el Foro con fines comerciales distintos a facilitar una transacción en el Sitio.</li>
        <li>Publicar o distribuir software u otros materiales que contengan virus o componentes dañinos.</li>
        <li>Publicar material ajeno al tema designado del foro.</li>
    </ul>

    <p>Al cargar materiales en cualquier foro, automáticamente nos otorga el derecho y la autorización perpetuos, libres de derechos de autor, irrevocables y no exclusivos para utilizar, reproducir, modificar, adaptar y distribuir dichos materiales en todo el mundo.</p>

    <br>

    <h2>VI. CONTENIDO VINCULADO AL SITIO</h2>
    <p>Este sitio contiene vínculos a otros sitios que pueden ser de su interés. La inclusión de estos vínculos no implica la aprobación, el patrocinio ni la recomendación de tales sitios. Tenga en cuenta que al hacer clic en un anuncio o resultado de búsqueda, podría ser dirigido a páginas fuera de nuestro control. Estos otros sitios pueden enviar sus propias cookies, recopilar datos o solicitar información personal.</p>
    <p>Nos reservamos el derecho a deshabilitar vínculos de sitios de terceros a nuestro sitio en cualquier momento.</p>

    <br>

    <h2>VII. DESCARGOS DE RESPONSABILIDAD</h2>
    <p>LAS TRANSMISIONES ELECTRÓNICAS, INCLUIDA INTERNET, SON MEDIOS PÚBLICOS, Y CUALQUIER USO DE TALES MEDIOS ES PÚBLICO Y NO PRIVADO. USTED ACEPTA UTILIZAR EL SITIO BAJO SU PROPIO RIESGO.</p>
    <p>EL CONTENIDO, LOS SERVICIOS Y LOS MATERIALES DEL SITIO SE BRINDAN “TAL COMO ESTÁN” Y “CONFORME A SU DISPONIBILIDAD” SIN REPRESENTACIONES NI GARANTÍAS DE NINGÚN TIPO. NO GARANTIZAMOS QUE EL SITIO ESTÉ LIBRE DE ERRORES, VIRUS U OTROS COMPONENTES DAÑINOS.</p>
    <p>El sitio puede contener inexactitudes técnicas, errores tipográficos u omisiones en relación con la información que se muestra en él, incluidos, entre otros, las tarifas, los cargos o la disponibilidad. Hilton no es responsable de ningún error tipográfico, fotográfico, técnico o de precios. Hilton se reserva el derecho a realizar cambios, correcciones o mejoras al sitio en cualquier momento sin previo aviso, incluso después de la confirmación de una reservación.</p>

    <br>

    <h2>VIII. INDEMNIZACIÓN</h2>
    <p>Usted es absolutamente responsable de mantener la confidencialidad de su contraseña y cuenta. Por el presente, usted debe indemnizar, defender y mantener a Hilton, nuestros hoteles, propietarios y directores (en su conjunto, las <span class="strong-term">"partes indemnizadas"</span>) libres de todo alegato, demanda, reclamo, responsabilidad, daño o costo (incluidos honorarios de abogados) que surjan de la violación de estos términos o del uso indebido de su cuenta.</p>

    <br>

    <h2>IX. LIMITACIÓN DE RESPONSABILIDAD</h2>
    <p>BAJO NINGUNA CIRCUNSTANCIA, INCLUYENDO LA NEGLIGENCIA, SEREMOS RESPONSABLES DE LAS PÉRDIDAS, DAÑOS DIRECTOS, INDIRECTOS, INCIDENTALES, ESPECIALES O CONSECUENTES RESULTANTES DEL USO O LA INCAPACIDAD DE USO DEL SITIO. SI NO ESTÁ SATISFECHO, SU ÚNICA Y EXCLUSIVA COMPENSACIÓN SERÁ INTERRUMPIR EL USO DEL SITIO.</p>

    <br>

    <h2>X. DESVINCULACIÓN</h2>
    <p>Al utilizar el sitio, todos los usuarios reconocen y aceptan que las partes indemnizadas quedan desvinculadas y exentas de toda responsabilidad en cuanto a pérdidas, litigios, lesiones personales o daños a la propiedad que pudieran surgir por el uso del sitio.</p>
    <p>Usted ha sido notificado de la existencia del Artículo 1542 del Código Civil de California, que establece:</p>
    
    <br>
    
    <blockquote>
        <em>"UNA DESVINCULACIÓN GENERAL NO SE EXTIENDE A LOS RECLAMOS QUE EL ACREEDOR NO CONOCE NI SOSPECHA QUE EXISTEN EN SU FAVOR EN EL MOMENTO DE EJECUTAR LA DESVINCULACIÓN, Y QUE SI SE HUBIERAN CONOCIDO, HABRÍAN AFECTADO EN FORMA MATERIAL EL ESTABLECIMIENTO DEL ACUERDO CON EL DEUDOR."</em>
    </blockquote>
    
    <p>A pesar de dichas disposiciones, esta desvinculación constituirá una desvinculación completa y absoluta bajo los riesgos asumidos por el usuario.</p>
</div>
</body>
</html>